* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-rubik {
    font-family: "Rubik", sans-serif;
}

.btn {
    background-color: #4f9e6a;
    border: none;
    color: white;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 28px;
    border-radius: 5px;
    cursor: pointer;
}

.btn,
.btn-outline {
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #00faaf;
    transform: translateY(-2px);
}

.btn-outline:hover {
    background-color: #ffffff;
    color: #4f9e6a;
    transform: translateY(-2px);
}

header {
    background-color: white;
    padding: 20px 0;
}

nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

#banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-bg {
    width: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
}

.badge {
    background: white;
    color: #4f9e6a;
    padding: 6px 16px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#notes {
    background-color: #f8f9fb;
    padding: 80px 0;
}

#notes h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.section-text {
    color: #666;
    margin-bottom: 50px;
}

.notes-cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 16px 32px #0000001f;
}

.card h3 {
    margin: 15px 0;
}

#solution {
    width: 75%;
    margin: 100px auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.solution-tag {
    color: #4f9e6a;
    font-weight: bold;
    font-size: 14px;
}

.solution-content h2 {
    font-size: 36px;
    margin: 15px 0;
}

.solution-content ul {
    list-style: none;
}

.solution-content li {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

#cta {
    width: 70%;
    margin: 100px auto;
    background: #f3f4f6;
    padding: 60px;
    text-align: center;
    border-radius: 10px;
}

#cta h2 {
    font-size: 34px;
    margin-bottom: 15px;
}

.small-text {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

footer {
    background: #071a2f;
    color: white;
    padding: 50px 0;
    text-align: center;
}